
.nav{
    height:200px;
    width: 200px;
    background: red;

}

.title{
    height: 300px;
    width: 300px;
    background: pink;
}

.box{
    height: 300px;
    width: 300px;
    background: black;
}